-r src/lambdas/api/requirements.in
-r src/layers/api/requirements.in
-r src/layers/databases/requirements.in
-r src/layers/fastapi/requirements.in

pytest
pytest-cov
pytest-html
boto3

black
isort
flake8